.board{
    padding: 5%;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-weight: 500;
}
